.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.ant-tooltip-inner {
  width: fit-content;
  height: fit-content;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
