*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  touch-action: manipulation;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.ant-tooltip-inner {
  width: fit-content;
  height: fit-content;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
