*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
}
html {
  touch-action: manipulation;
}
html {
  background-color: red;
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  /* prevent overscroll bounce*/
  background-color: lightgreen;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* iOS velocity scrolling */
}
img,
picture,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  outline: none;
}
button {
  cursor: pointer;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.ant-tooltip-inner {
  width: fit-content;
  height: fit-content;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
